*{
    box-sizing: border-box;
    margin: 0;
    color: #ffffff;
    font-family: 'Titan One', cursive;
}

body {
    background-image: url(./images/background.jpg)

}
header {
    width: 90%;
    margin: 50px auto;
    display:grid;
    grid-template-rows: 2fr 1fr;
    gap:10px;
    align-items: center; 
    justify-content: center;
    position: relative;
    left: -120px;
}
header > h1{
    font-size: 3.5rem;
}
h2{
    text-align: center;
}

.wrapper-page {
    width: 90%;
    /* height not working, fix it later */
    height: 100%;
    margin: 90px auto;
    box-shadow: 7px 7px 0px 0px #d9d9d9;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;  
    text-align: center;
}
.wrapper-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50%;
    margin: 0 auto;
    gap: 15px;
    justify-content: center;
}
.board > button {
    box-shadow: 7px 7px 0px 0px #d9d9d9;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px; 
    width: 115px;
    height: 115px;
    background-color: #ffbb00cb;
    color: white;
    font-size: 4rem;
    font-family:fantasy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article > button{
    margin: 10px auto;
    box-shadow: 10px 10px 0px 0px #d9d9d9;
    border-radius: 30px;
}
.wrapper-main > section > p {
    font-size: 2rem;
    display: none;
}
.wrapper-page{
    background-color: #ff005581;
    border-radius: 30px;
}
.wrapper-options {
    background-color:#ffbb00cb;
    border-radius: 30px;
}
aside > article{
    margin-top: 5px;
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    gap: 30px;
}
aside > article > .scores,aside > article > .inputs{
    display: grid;
    gap:10px ;
    font-size: 1.3rem;
    /* color: #f72584;
    color: #FFBD00; */
}
.inputs{
    justify-content: center;
}
input {
    font-size: 1.1rem;
}
.buttons > button{
    box-shadow: 7px 7px 0px 0px #d9d9d9;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px; 
    width: 70%;
    height: 35%;
    margin: 10px;
    color: #ff005581;
}
/* mediaquery */
@media (max-width: 720px)  {
    header > h1{
        text-align: center;
        position: initial;
    }
    .wrapper-page {
        display: grid;
        grid-template-columns: 1fr;  
        text-align: center;
    }   
}