*{
    box-sizing: border-box;
    margin: 0;
}
.wrapper-page {
    width: 80%;
    margin: 100px auto ;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 30px
}
header, .wrapper-options {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
.wrapper-info{
    text-align: center;
}
.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 60%;
    margin: 0 auto;

}
.board > button {
    border: 1px solid purple;
    width: 180px;
    height: 180px;
    background-color: plum;
}
.reset{
    display: none;
}
